

/* GLOBAL */

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

button{
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}


/* HEADER */

.header-container{
    background-color: #1F2937;
    padding: 16px 80px;
    color:white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin: 0 0;
}

.hero-left h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-left p{
    size: 18px;
    color: #e5e7eb;
}

.hero-right img{
    width: 500px;
    height: 250px;
    display: flex;
    background-color: rgb(130, 131, 145);
}

.right-links{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.right-links a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}


/* INFORMATION */

.information-section{
    padding: 50px;
}

.info-title{
    text-align: center;
    margin: 35px;
}

.info-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card{
    max-width: 200px;
}

.card .box{
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 10px;
}


/* QUOTE */

.quote-section{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 50px;
}

.quote-container{
    max-width: 820px;
    display: flex;
    flex-direction: column;
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;

}

.quote-author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 26px;
    margin-top: 10px;
}


/* SIGNUP */

.signup-section{
    padding: 100px 150px;
    display: flex;
    justify-content: center;
}

.signup-blue-box{
    background-color: #3882f6;
    color: white;
    padding: 50px 100px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.box-text h3, p{
    margin: 0;
}

.box-button{
    border: 2px solid white;
    cursor: pointer;
}


/* FOOTER */

.footer-section{
    background-color: #1F2937;
    padding: 40px 0;
    color:white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}