
/* GLOBAL */

body{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

button{
    background-color: #3882f6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

/* HEADER */

.header-container{
    background-color: #1F2937;
    padding: 16px 80px;
    color:white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    margin: 0 0;
}

.hero-left h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-left p{
    size: 18px;
    color: #e5e7eb;
}

.hero-right img{
    width: 500px;
    height: 250px;
    display: flex;
    background-color: rgb(130, 131, 145);
}

.right-links{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.right-links a{
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

/* Information */




/* Quote */




/* Signup */





/* footer */